<h1>Our Parking</h1>

<h3>No trabajamos para alcanzar metas. Las metas llegan gracias al hacer el bien para los dem&aacutes.</h3>
</br>
</br>
<h4>Administrativos</h4>
<p class="p-home">Son los encargados en administrar todas las reservas y llevar un seguimiento de todo lo contratado, 
  realiza seguimiento tambi&eacuten a los ofertantes de estacionamiento de acuerdo a la evaluaci&oacuten que realiza el solicitante 
  al finalizar el servicio. Cualquier duda, consulta o reclamo lo atenderan gustosos.
</p>
</br>
<h4>Clientes</h4>
<p class="p-home">Forman parte de nuestro equipo ya que son pieza importante en el servicio. Ellos tienen la facultad de poder ofertar 
  y solicitar estacionamientos adem&aacutes de ser considerados clientes preferentes contando con beneficios en nustra empresa. 
  Toda la informaci&oacten sobre ellos estan en nuestra base y estamos al tanto de ocasiones especiales.</p>
</br>
</br>
