<div class="col-md-3 text-center">
    <%= image_tag('accesibilidad.jpg', :class => "img img-circle") %>
    <h3>Accesibilidad</h3>
    <p class="p-home">Tenemos estacionamientos en todos los distritos de Lima de manera que puedas contar con nosotros en el lugar que estes.</p>
</div>
<div class="col-md-3 text-center">
    <%= image_tag('confianza.jpg', :class => "img img-circle") %>
    <h3>Confianza</h3>
    <p class="p-home">Son mas de 5000 usuarios que han utilizado el servicio y que garantizan una buena experiencia con nosotros.</p>
</div>
<div class="col-md-3 text-center">
    <%= image_tag('seguridad.jpg', :class => "img img-circle") %>
    <h3>Seguridad</h3>
    <p class="p-home">Contamos con un control exhaustivo  de verificacion de estacionamientos para que puedas estar seguro al usar nuestro servicio.</p>
</div>
<div class="col-md-3 text-center">
    <%= image_tag('tiempo.jpg', :class => "img img-circle") %>
    <h3>Tiempo</h3>
<p class="p-home">Reduce las horas interminables en la busqueda de un estacionamiento para usarlas en las cosas importantes de tu vida.</p>
</div>
