<h1>About Us</h1>

<h3>InstaParking es una empresa prestadora de un servicio de estacionamientos mediante una plataforma de &oacuteltima tecnolog&iacutea. 
    La empresa se conecta a los ofertantes y solicitantes de estacionamientos de una manera sencilla, r&aacutepida y segura
</h3>
</br>
</br>

<div class="row">
  <div class="col-lg-4">
    <%= image_tag('about.jpg', :class => "img img-width-aboutUs") %>
  </div>
  
  <div class="col-lg-8">
    <h4>Nuestra Historia</h4>
    <p class="p-home">Fundada en diciembre de 2010, IntaParking empez&oacute como una empresa dirigida a la reserva de estacionamientos en 
      nuestro local ubicado en el distrito de Santiago de Surco, en donde los clientes llamaban o se acercaban para realizar una reserva. 
      Siempre trabajamos con la mejor calidad en el servicio y debido a ello los clientes nos eligieron como su sitio de preferencia. 
      Por esto, pensando en su bienestar, nació una manera mas amigable en la que puedan contar con nuestro servicio en cualquier ubicaci&oacuten que est&eacuten.</p>
      
    <p class="p-home">Pensamos que la confianza es la clave del servicio es por eso que creamos un lazo entre los solicitantes y los ofertantes 
      de estacionamiento, para que se contacten con facilidad a trav&eacutes de una aplicaci&oacuten en la que se pueda elegir su estacionamiento. 
      Es por eso que pensamos en esta aplicaci&oacuten en la que tambi&eacuten se pueda hacer la reserva online v&iacutea celular o computador.</p>
  </div>
</div>
</br>
</br>