<h1>Contact Us</h1>
</br>
<h3>Escr&iacutebenos tus dudas o consultas</h3>
</br>
<p>Nos encatar&iacutea saber qu&eacute es lo que piensa, as&iacute que puede contactarnos de la siguiente manera:</p>
<p>♦ RPM:   #956459921</p>
<p>♦ Email: support@upconsulting.com</p>
</br>
<h5>Nombre Completo:</h5>
<p><input type="text" placeholder="Nombres y Apellidos" class="form-control"></p>
</br>
<h5>Email:</h5>
<p><input type="text" placeholder="Email" class="form-control"></p>
</br>
<h5>Tel&eacutefono:</h5>
<p><input type="text" placeholder="Teléfono" class="form-control"></p>
</br>
<h5>Mensaje:</h5>
<p><textarea class="form-control" placeholder="Mensaje"></textarea></p>
</br>
<p><button type="submit" class="btn btn-success">Enviar</button></p>
</br>
<div id="maps">
  <%= render 'map' %> 
</div